* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
}

html {
	max-height: 100%;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: #99CCCC;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: 100%;
	height: auto;
}

header {
	margin-top: -1.31rem;
	background-repeat: repeat;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}

footer {
	background-repeat: repeat;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	position: relative;
}

.image-section {
	width: 100%;
	height: 220px;
	background-image: url("footer-8.gif");
}

.end {
	margin-top: 2rem;
	width: 100%;
	height: 210px;
	background-image: url("gif1.gif");
}

.header-form {
	display: inline-block;
	position: absolute;
	margin-top: -6.9rem;
	margin-left: -9rem;
}

.footer-form {
	display: inline-block;
	position: absolute;
	line-height: 13.2rem;
	margin-left: -9rem;
}

.input,
.submit {
	padding: 0.5rem 0.5rem;
	outline: none;
	border: 4px solid black;
	border-radius: 10px 0 10px 0;
	background-color: white;
}

.input {
	width: 300px;
}

.submit {
	cursor: pointer;
}

.trending-section {
	display: flex;
	/*flex-wrap: wrap;*/
}

.footer-input,
.footer-submit {
	padding: 0.5rem 0.5rem;
	outline: none;
	border: 4px solid black;
	border-radius: 10px 0 10px 0;
	background-color: white;
}

.footer-input {
	width: 300px;
}

.footer-submit {
	cursor: pointer;
}

.Trending-Heroes {
	display: flex;
	flex-wrap: wrap;
	margin-top: 7rem;
	justify-content: center;
	background-image: url("back4.jpg");
}

.append-hero {
	width: 220.5px;
	border-radius: 0 0 20px 0;
	box-shadow: 1px 5px 4px rgba(0, 0, 0, 1);
	color: white;
	margin: 1.65rem;
	margin-top: 2.8rem;
	transition: all 0.4s ease;
	position: relative;
	background-color: #000000;
}

.append-heroImg {
	border-radius: 0 0 20px 0;
	width: 221px;
	height: 300px;
	border: 4px solid black;
}

.append-hero:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-color: rgb(132, 17, 17);
	/*border-style: none;*/
}

.hero-info {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 1rem 1rem;
}

.hero-info h3 {
	margin: 0;
}

.characters-section {
	margin-top: 0rem;
	justify-content: center;
	align-items: center;
}

.character-header {
	position: absolute;
	padding: 1.5rem 1.5rem;
	line-height: 2vh;
	margin-top: -5.6rem;
	margin-left: 5rem;
	font-size: 2rem;
	font-weight: bold;
	width: 90%;
	border-radius: 50px 0px 50px 0px;
	background-color: #fff8dc;
	border: 4px solid black;
}

.hero-header {
	position: absolute;
	padding: 1.5rem 1.5rem;
	line-height: 2vh;
	margin-top: -6rem;
	font-size: 2rem;
	font-weight: bold;
	width: 90%;
	border-radius: 50px 0px 50px 0px;
	background-color: #fff8dc;
	border: 4px solid black;
}

.hero-section {
	display: flex;
	justify-content: center;
	background: url("back4.jpg");
	object-fit: cover;
	height: 500px;
}

.hero {
	margin-top: 5rem;
	width: 230px;
	height: 320px;
	padding: 0 0 0 0;
}

img {
	width: 250px;
	height: 320px;
	object-fit: cover;
	border: 4px solid black;
}

.hero h1 {
	position: absolute;
	margin-left: 2rem;
	margin-top: 15rem;
	color: white;

}

.description {
	padding: 1rem 0.5rem;
	margin-left: 3rem;
	margin-top: 5rem;
	overflow-y: auto;
	flex-wrap: wrap;
	width: 520px;
	height: 320px;
	border: 2px solid black;
	font-size: 1.2rem;
	border: 4px solid black;
	background: #fff8dc;
	border-radius: 50px 0 50px 0;
}

.comics-section {
	display: none;
}

.comic-sectionReal {
	display: block;
	margin-top: 7rem;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	background: url("back4.jpg")
}

.comicImg {
	width: 250px;
	object-fit: cover;
	border: 4px solid black;
	border-radius: 0 0 20px 0;
}

h2 {
	margin-top: 1rem;
	color: white;
	background: transparent;
}

.hide-section {
	transform: translateY(0);
	background-color: red;
}

.comic {
	width: 250px;
	height: 450px;
	background-color: black;
	border-radius: 0 0 20px 0;
	box-shadow: 1px 5px 4px rgba(0, 0, 0, 1);
	color: silver;
	margin: 1.65rem;
	border-radius: 0 0 20px 0;
	transition: all 0.5s ease-out;
}

.comic:hover {
	transform: scale(1.05);
	background-color: rgb(132, 17, 17);
	color: white;
	cursor: pointer;
}

.header {
	position: absolute;
	padding: 1.5rem 1.5rem;
	line-height: 2vh;
	margin-top: -5.6rem;
	font-size: 2rem;
	font-weight: bold;
	width: 90%;
	border-radius: 50px 0px 50px 0px;
	background-color: #fff8dc;
	border: 4px solid black;
}

.comic-detail {
	display: none;
}

.comic-detail-real {
	background: url("back4.jpg");
	;
	color: black;
	/*height: 400px;*/
	object-fit: cover;
	margin-top: 2rem;
	display: block;
}

.comic-detail-header {
	position: absolute;
	padding: 1.5rem 1.5rem;
	line-height: 2vh;
	margin-top: -14rem;
	margin-left: 5rem;
	font-size: 2rem;
	font-weight: bold;
	width: 90%;
	border-radius: 50px 0px 50px 0px;
	background-color: #fff8dc;
	border: 4px solid black;
}

.details {
	margin-top: -8rem;
	background: url("back4.jpg");
	padding: 2rem 2rem;
	width: 100%;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
}

.comicimg {
	position: absolute;
	border: 4px solid black;
	position: absolute;
	margin-left: -23rem;
	flex-wrap: wrap;
	border-radius: 0 0 20px 0;
	box-shadow: 1px 5px 4px rgba(0, 0, 0, 1);
}

.cs {
	border-radius: 50px 0 50px 0;
	flex-wrap: wrap;
	margin-left: 23rem;
	position: absolute;
	background-color: #fff8dc;
	font-size: 1.3rem;
	width: 520px;
	height: 320px;
	border: 4px solid black;
	overflow-y: auto;
}

.ct {
	margin-top: 1rem;
}

.cd {
	margin-top: 1rem;
}

.nr {
	margin-top: 1rem;
}

@media (max-width: 500px) {
	.hero-header {
		margin-top: -5.8rem;
		font-size: medium;
	}

	.header-form {
		margin-top: -10rem;
	}

	.input {
		margin-left: -3.5rem;
		width: 350px;
	}

	.submit {
		margin-top: 1rem;
		width: 8rem;
		margin-left: -2rem;
	}

	.append-hero {
		height: 500px;
		width: 300px;
	}

	.append-heroImg {
		border-radius: 0 0 20px 0;
		width: inherit;
		height: 440px;
		border: 4px solid black;
	}

	footer {
		background-repeat: repeat;
		width: 100%;
		height: auto;
		align-items: center;
		justify-content: center;
	}

	.footer-form {
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.footer-input,
	.footer-submit {
		padding: 0.5rem 0.5rem;
		outline: none;
		border: 4px solid black;
		border-radius: 10px 0 10px 0;
		background-color: white;
	}

	.footer-input {
		width: 280px;
		margin-top: -6rem;
		margin-left: -3rem;
	}

	.footer-submit {
		margin-top: -6rem;
		width: 8rem;
		margin-left: -2rem;
	}

	.character-header {
		position: absolute;
		padding: 1.5rem 1.5rem;
		line-height: 2vh;
		margin-top: -5.6rem;
		margin-left: 1.3rem;
		font-size: 1.2rem;
		font-weight: bold;
		width: 90%;
		border-radius: 50px 0px 50px 0px;
		background-color: #fff8dc;
		border: 4px solid black;
	}

	.hero-section {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		object-fit: cover;
		height: 1100px;
	}

	.hero {
		margin-top: 2rem;
		width: 400px;
		height: 600px;
		padding: 0 0 0 0;
	}

	.hero img {
		width: 350px;
		height: 500px;
	}

	.description {
		padding: 1rem 0.5rem;
		margin-left: 0.7rem;
		margin-top: -2rem;
		overflow-y: auto;
		width: 350px;
		height: 350px;
		border: 2px solid black;
		font-size: 1.1rem;
		border: 4px solid black;
		background: #fff8dc;
		border-radius: 50px 50px 50px 50px;
	}

	.header {
		font-size: 1.2rem;
	}

	.comic {
		width: 380px;
		height: 500px;
	}

	.comicImg {
		width: 380px;
		object-fit: cover;
		border: 4px solid black;
		border-radius: 0 0 20px 0;
		height: 400px;
	}

	.comic-detail-header {
		font-size: 1.2rem;
		margin-left: 1.3rem;
	}

	.details {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		object-fit: cover;
		height: 1000px;
	}

	.ci {
		width: 0px;
		height: 500px;
		margin-top: -26rem;
	}

	.cs {
		padding: 1rem 0.5rem;
		margin-left: 0.7rem;
		margin-top: 35rem;
		overflow-y: auto;
		width: 350px;
		height: 350px;
		border: 2px solid black;
		font-size: 1.1rem;
		border: 4px solid black;
		background: #fff8dc;
		border-radius: 50px 50px 50px 50px;
	}

	.comicimg {
		border: 4px solid black;
		position: absolute;
		margin-left: -11.57rem;
		border-radius: 0 0 20px 0;
		box-shadow: 1px 5px 4px rgb(0 0 0);
		width: 380px;
		height: 500px;
	}
}